.myPlayRoom {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  overflow: hidden;
  background-color: bisque;
}

.opponentPlayRoom {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  overflow: hidden;
  transform:rotate(180deg);
  background-color: #e0b338e1;
}

.field {
  display: flex;
  flex-direction: column;
  overflow-x: auto; /* 横スクロールを可能にする */
  white-space: nowrap;	
  width: 100%; /* 幅を100%に設定 */
}

.playZone {
  overflow: visible; /* コンテンツがはみ出ても表示する */
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.deckAndHand{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.deck {
  width: 100px;
  height: 140px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  flex-shrink: 0;
}

.handZone {
  width: calc(100% - 150px);
  height: 160px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;

}