.myPlayRoom {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  overflow: hidden;
  background-color: bisque;
}

.opponentPlayRoom {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  overflow: hidden;
  transform:rotate(180deg);
  background-color: #e0b338e1;
}

.field {
  display: flex;
  flex-direction: column;
  overflow-x: auto; /* 横スクロールを可能にする */
  white-space: nowrap;	
  width: 100%; /* 幅を100%に設定 */
}

.playZone {
  overflow: visible; /* コンテンツがはみ出ても表示する */
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.deckAndHand{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: relative;
}

.handZone {
  width: calc(100% - 150px);
  height: 160px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin: 10px;
}

.deckWrapper{
  position: relative;
}

.deck {
  width: 100px;
  height: 140px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  flex-shrink: 0;
}

.deckOptions {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -150px;
  top: 0px;
}

.deckModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.deckCards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.deckCard {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  width: 100px;
  height: 140px;
}

.deckCard:hover {
  background-color: #f0f0f0;
}

.trashBox{
  width: 100px;
  height: 140px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  flex-shrink: 0;
  cursor: pointer;
  position: absolute;
  top: -150px;
  left: 90%;
}

.sideDeck{
  width: 100px;
  height: 140px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  flex-shrink: 0;
  text-align: center;
}

.orientationModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.orientationOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.orientationOptions button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}