.card {
  width: 100px;
  height: 140px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: move;
  user-select: none;
  position: relative;
  left: -50px;
  top: -70px;
}

.horizontal {
  transform: rotate(90deg);
  width: 140px;
  height: 100px;
}