.card {
  width: 100px;
  height: 140px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: move;
  user-select: none;
  font-size: medium;
  position: relative;
  padding: 3px;
  cursor: pointer;
}

.opponentCard {
  cursor: default;
}

.cardBack {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #ccc;
}

.detailsWrapper {
  position: absolute;
  top: -100%;
  left: -50%;
  z-index: 1000;
}

.orientationChoice{
  position: relative;
  top: 280px;
  left: -95px;
}

.contextMenu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  top: 150px;
  left: 100px;
}

.contextMenu button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.contextMenu button:hover {
  background-color: #f0f0f0;
}